:root {
    --sky: #5A90CC;
    --smoke: #F4F4F4;
    --smoke-secondary: #ECECEC;
    --cloud: #BCBCBC;
    --cloud-secondary: #fdfdfd;
    --night: #3b3b3b;

    --grass: #A3FFA6;
    --sun: #FFE5A2;
    --lava: #FFA2A2;
    --frost: #A3E9FF;
    --violet: #FFA3F0;
    
}