<div class="container">
  <div class="row">
    <h1 class="type-1 mt-4">{{ data.marka }} {{ data.model }}</h1>
    <h2 class="type-2 mt-1">{{ data["rodzaj-pojazdu"] }}</h2>
    <a [routerLink]="['/list', data['wojewodztwo-kod']]" class="type-link mt-1"
      >Wróć do listy województw.</a
    >

    <div class="col-12 mt-4">
      <h3 class="type-section">Daty rejestracji.</h3>
    </div>

    <div class="col-12 col-xl-6 col-xxl-4 mt-4">
      <div
        class="bg--grass d-flex align-items-center justify-content-center flex-column py-3"
      >
        <p class="type-title">Pierwsza rejestracja:</p>
        <h2 class="type-value">{{ data["data-pierwszej-rejestracji"] }}</h2>
      </div>
    </div>

    <div class="col-12 col-xl-6 col-xxl-4 mt-4">
      <div
        class="bg--sun d-flex align-items-center justify-content-center flex-column py-3"
      >
        <p class="type-title">Pierwsza rejestracja w kraju:</p>
        <h2 class="type-value">
          {{ data["data-pierwszej-rejestracji-w-kraju"] }}
        </h2>
      </div>
    </div>

    <div class="col-12 col-xxl-4 mt-4">
      <div
        class="bg--lava d-flex align-items-center justify-content-center flex-column py-3"
      >
        <p class="type-title">Ostatnia rejestracja w kraju:</p>
        <h2 class="type-value">
          {{ data["data-ostatniej-rejestracji-w-kraju"] }}
        </h2>
      </div>
    </div>

    <div class="col-12 mt-5">
      <h3 class="type-section">Liczba miejsc.</h3>
    </div>

    <div class="col-12 col-md-6 mt-4">
      <div
        class="bg--frost d-flex align-items-center justify-content-center flex-column py-3"
      >
        <p class="type-title">Liczba miejsc ogółem:</p>
        <h2 class="type-value">
          {{ data["liczba-miejsc-ogolem"] }}
        </h2>
      </div>
    </div>

    <div class="col-12 col-md-6 mt-4">
      <div
        class="bg--violet d-flex align-items-center justify-content-center flex-column py-3"
      >
        <p class="type-title">Liczba miejsc siedzących:</p>
        <h2 class="type-value">
          {{ data["liczba-miejsc-siedzacych"] }}
        </h2>
      </div>
    </div>

    <div class="col-12 mt-5">
      <h3 class="type-section">Dane techniczne.</h3>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mt-4">
      <div
        class="bg--grass d-flex align-items-center justify-content-center flex-column py-3"
      >
        <p class="type-title">Dop. masa całkowita [kg]:</p>
        <h2 class="type-value">{{ data["dopuszczalna-masa-calkowita"] }}</h2>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mt-4">
      <div
        class="bg--sun d-flex align-items-center justify-content-center flex-column py-3"
      >
        <p class="type-title">Liczba osi:</p>
        <h2 class="type-value">
          {{ data["liczba-osi"] }}
        </h2>
      </div>
    </div>

    <div class="col-12 col-xl-4 mt-4">
      <div
        class="bg--lava d-flex align-items-center justify-content-center flex-column py-3"
      >
        <p class="type-title">Pojemność silnika [cm<sup>3</sup>]:</p>
        <h2 class="type-value">
          {{ data["pojemnosc-skokowa-silnika"] }}
        </h2>
      </div>
    </div>

    <div class="col-12 mt-4 mb-3">
      <div
        class="bg--frost d-flex align-items-center justify-content-center flex-column py-3"
      >
        <p class="type-title">Rodzaj paliwa:</p>
        <h2 class="type-value text-center">
          {{ data["rodzaj-paliwa"] }}
        </h2>
      </div>
    </div>
  </div>
</div>
