<div class="tab--nav type-4 d-flex align-items-center mt-3 mb-1">
  <div class="tab--element p-2">Marka</div>
  <div class="tab--element p-2">Model</div>
  <div class="tab--element p-2">Rodzaj pojazdu</div>
  <div class="tab--element p-2 d-none d-md-block">
    Pojemność silnika [cm<sup>3</sup>]
  </div>
  <div class="tab--element p-2">Rodzaj paliwa</div>
</div>

<div
  [routerLink]="['/vehicle', vehicle.id]"
  class="tab--row d-flex align-items-center type-3 mb-1"
  *ngFor="let vehicle of vehicles"
>
  <div class="tab--element py-1 px-2">{{ vehicle.attributes.marka }}</div>
  <div class="tab--element py-1 px-2">{{ vehicle.attributes.model }}</div>
  <div class="tab--element py-1 px-2">
    {{ vehicle.attributes["rodzaj-pojazdu"] }}
  </div>
  <div class="tab--element py-1 px-2 d-none d-md-flex">
    {{ vehicle.attributes["pojemnosc-skokowa-silnika"] }}
  </div>
  <div class="tab--element py-1 px-2">
    {{ vehicle.attributes["rodzaj-paliwa"] }}
  </div>
</div>
